@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css";
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox {
    max-height: 45rem;
    padding: 0.5rem;
    overflow-y: scroll;
}

.project-title {
    font-size: 2.5rem;
}

.fontSize115 {
    font-size: 1.15rem;
}